/* magic number: 50px 25px -- color: #f8f8f8 [whitespace] #cfcfcf/f5f6f7 [borders] 373d3f [text] */

/* start init */

:root {
  /* all of the blues & reds */
  --blue-light: #1a73e8; 
  --blue-dark: #16498c; 
  --subtleBlue-light: #e6f0fd;
  --subtleBlue-dark: #273444;
  --midSubtleBlue-light: #d3e5fb;
  --midSubtleBlue-dark: #1a3456;
  --red-light: #d52020;
  --red-dark: #df6262;
  --redBackground-light: var(--red-light);
  --redBackground-dark: #982727;

  /* sloooooowly moving to variables */
  --blue: var(--blue-light); /* allows flexibility to 'hard-code' certain blues */
  --subtleBlue: var(--subtleBlue-light);
  --midSubtleBlue: var(--midSubtleBlue-light);
  --mediumBlue: #8cb9f4;
  --red: var(--red-light);
  --redBackground: var(--redBackground-light);

  --borderColor: #cfcfcf;

  --boxShadow: rgba(0, 0, 0, 0.15) 6px 6px 20px;
  --subsectionBackground: #f8f8f8;
  --subsectionBorder: 1px solid var(--borderColor);

  --borderRadius: 16px;
  --borderRadiusSmallElements: calc(var(--borderRadius) / 2);

  --mainBackgroundColor: #e4ddd7;
  --elevOneBackgroundColor: #fff; /* cards/items */
  --textColor: #373d3f;

  --subtleTextColor: rgba(0, 0, 0, 0.58);

  /* defined here so they can be used in keyframes AND style definitions */
  --sheetHeight: 65vh;
  --sheetBounce: 5vh;
}

/* not * {} due to some issues with inline (in-element) styling */
body, div, h1, h2, h3, p, a, hr, button, ol, ul, li, img, header, main, form, input, textarea, pre, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: var(--textColor);
  overflow-wrap: break-word;
  box-sizing: border-box;
}

button {
  background: none;
}

ul, ol {
  margin-left: 25px;
}

button:hover {
  cursor: pointer;
}

body {
  font-size: .95em;
  min-height: 100vh;
}

body.noscroll {
  overflow: hidden;
}

h1 {
	font-size: 2.0em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

h2 {
	font-size: 1.6em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

h3 {
	font-size: 1.4em;
	font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

p {
	font-size: 1em;
	font-weight: 400;
  margin-bottom: 25px; /*25px for paragraphs*/
}

p:last-child {
  margin: 0;
}

a {
  color: #5294e2;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.bigLink { /* h3 lookalike */
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
  color: var(--textColor);
}

hr {
  height: 1px;
  margin: 25px 0;
  border: 0;
  background-color: #cfcfcf;
}

/* start the page */

body {
  background-color: var(--mainBackgroundColor);
}

/* header */

header {
  z-index: 2;
  width: 100%;
  padding: 25px;
  background-color: var(--blue);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.headerTitle {
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 15px;

}

.logoWrap {
  padding: 0;
  border-radius: 50%;
  background: #fff;
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  box-shadow: var(--boxShadow);
}

.logo {
  width: 25px;
  height: 25px;
}


nav {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
  grid-column: 3 / -1;
}

#navBig {
  display: none;
}

#navSmall {
  display: contents;
}

.navLink {
  font-weight: 700;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.87);
  padding: 0;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  padding: 25px;
}

.tskW {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.wrapper hr, .bigHR {
  background-color: #f5f6f7;
  height: 3px;
  margin: 15px -25px;
}

.item {
  padding: 25px;
  background-color: var(--elevOneBackgroundColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  text-align: center;
  overflow-x: hidden;
}

.item h3 {
  margin-bottom: 15px;
}

.item .taskCard__date {
  font-size: .95em;
  margin: 0;
  font-style: italic;
  display: inline-block;
}

.globalBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: grid;
  background-color: var(--blue-light);
  border-radius: 50%;
  padding: 12px;
  box-shadow: var(--boxShadow);
  z-index: 4;
}

.globalBtn span {
  color: #fff;
  font-size: 1.8em;
}

.chip {
  background: var(--elevOneBackgroundColor);
  border-radius: 500px;
  display: inline-grid;
  padding: 6px 14px;
  grid-template-columns: auto auto;
  column-gap: 6px;
  color: var(--blue-light);
  align-items: center;
  font-family: "Poppins";
  box-shadow: var(--boxShadow);
}

.chip__text {
  font-weight: 700;
}

.chip--bare {
  box-shadow: none;
  padding: 6px 0;
  background: transparent;
}

.chip--alert {
  color: var(--red) !important; /* So dark mode styling change for parent doesn't steamroll this */
}

.bigHeader {
  padding: 60px 25px 230px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background: var(--blue);
}

.bigHeader__content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.bigHeader__content h1 {
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.bigHeader__content__more {
  margin-top: 20px;
  white-space: nowrap;
}

.bigHeader__content__more > span {
  display: block;
}

.bigHeader__content__more > *:not(:last-child) {
  margin: 0 0 25px 0;
}

.bigHeader__content__subtitle {
  color: #fff;
  font-size: 1.1em;
}

.bigHeader__content__subtitle a {
  color: inherit;
  text-decoration: underline;
}

.bigHeader__content__message {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--borderRadius);
  padding: 15px 25px;
  column-gap: 8px;
}


.bigHeader__content__message .material-icons {
  font-size: 1.4em;
  color: #fff;
}

.bigHeader + section {
  margin-top: -150px;
  position: relative;
}

/* today view header is a bit different */
.bigHeader--todayView .bigHeader__content {
  text-align: left;
}

.bigHeader--todayView .bigHeader__content h1 {
  text-align: left;
  line-height: 1.4;
}

.bigHeader--todayView .bigHeader__content h1 b {
  color: rgba(255, 255, 255, 0.8)
}




.todayViewSectionTitle {
  padding: 25px 25px 0;
  display: block;
}

.todayViewSectionTitle:first-of-type {
  color: #fff;
  padding-top: 0;
}

.normalWidthWrapper {
  margin: 0 auto;
  max-width: 750px;
  padding: 0 25px;
}

.taskTodayWrap {
  padding: 0;
  border-radius: var(--borderRadius);
  margin: 15px 0 25px;
}

.modalWrap {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  display: grid;
  padding: 50px;
  transition: background 0.4s cubic-bezier(.55,.09,.68,.53),
    backdrop-filter 0.4s cubic-bezier(.55,.09,.68,.53);
  backdrop-filter: blur(0);
  overflow: clip;
  z-index: 3;
  box-sizing: border-box;
}

.modalWrap.visible {
  backdrop-filter: blur(5px);
  visibility: visible;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.24s cubic-bezier(.55,.09,.68,.53), backdrop-filter 0.24s cubic-bezier(.55,.09,.68,.53); /* finish fading in as modal reaches max size, looks better */
}

.modal {
  /* basically a big modal / modal-like on desktop */
  background-color: transparent; /* so borders look good */
  left: 0;
  right: 0;
  position: fixed;
  bottom: calc(-1 * (var(--sheetHeight) + var(--sheetBounce)));
  height: var(--sheetHeight);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  box-sizing: border-box;
}

.modal__header {
  background: var(--blue);
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 25px;
  align-items: center;
  padding: 25px;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

.modal__header * {
  color: #fff;
}

.modal__body {
  background: var(--elevOneBackgroundColor);
  overflow-y: auto;
}

.modal__body .taskTodayRow:last-child {
  margin-bottom: 100px; /* so floating button doesn't cover task menu button + works in firefox! */
}

.modalWrap.visible > .modal {
  animation: sheetEntry 0.4s;
  bottom: 0;
}

.modalWrap.hide > .modal {
  /* helper to keyframe modal close */
  animation: sheetExit 0.4s;
}


@keyframes modalEntry {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.08);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modalExit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.08);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes sheetEntry {
  0% {
    bottom: calc(-1 * (var(--sheetHeight) + var(--sheetBounce))); /* so it's completely below bottom edge of viewport */
    height: calc(var(--sheetBounce) + var(--sheetHeight)); /* extra high so no gap on bottom during bounce */
  }
  60% {
    bottom: 0;
    height: calc(var(--sheetBounce) + var(--sheetHeight));
  }
  100% {
    bottom: calc(-1 * var(--sheetBounce));
    height: calc(var(--sheetBounce) + var(--sheetHeight)); /* so it looks smooth, this is reverted after animation */
  }
}

@keyframes sheetExit {
  0% {
    bottom: calc(-1 * var(--sheetBounce));
    height: calc(var(--sheetBounce) + var(--sheetHeight));
  }
  60% {
    bottom: 0;
    height: calc(var(--sheetBounce) + var(--sheetHeight));
  }
  100% {
    bottom: calc(-1 * (var(--sheetHeight) + var(--sheetBounce))); /* so it's completely below bottom edge of viewport */
    height: calc(var(--sheetBounce) + var(--sheetHeight)); /* so it looks smooth, this is reverted after animation */
  }
}


/* .taskTodayRow {
  padding: 15px 25px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 15px;
  align-items: center;
} */

.taskTodayRow {
  padding: 15px 25px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas:
    "name badges menu";
  column-gap: 15px;
  row-gap: 1px;
  align-items: center;
}

.taskTodayRow--withDate {
  gap: 15px 10px;
  grid-template-areas:
      "name name menu"
      "date date badges";
}

.taskTodayRow--withMessages {
  grid-template-areas:
    "name badges menu"
    "messages badges menu";
}

.taskTodayRow--withDate--withMessages {
  grid-template-areas:
      "name name menu"
      "date messages badges";
}

.taskTodayRow:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.06);
}

.taskTodayName {
  margin-bottom: 0;
  text-align: left;
  font-size: 1.2em;
  grid-area: name;
}

.taskTodayName a {
  font-weight: 700;
  color: var(--textColor);
  word-break: break-word;
}

.taskTodayRow span {
  text-align: left;
}

.todayViewTaskDate {
  grid-area: date;
  padding: 4px 15px;
  border-radius: 25px;
  margin-right: auto;
  font-weight: 700;
  border: 2px solid var(--textColor);
  font-size: 0.8em;
}

.todayViewTaskDate--soon {
  border-color: var(--red);
  color: var(--red);
}

.controlsWrap {
  grid-area: menu;
}

.todayViewTaskBadges {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: badges;
  grid-gap: 5px;
}

.todayViewTaskBadges .badge {
  font-size: 1.15em;
  line-height: 1em;
}

.todayViewTaskBadges .badge--lastOccurance {
  color: var(--red);
}

.todayViewTaskMessages {
  display: block;
  grid-area: messages;
  font-size: 0.85em;
}

.todayViewTaskMessages--urgent {
  color: var(--red);
}

.taskTodayRow .openTaskControls {
  background: none;
  margin-left: auto;
  display: block;
  color: var(--textColor);
}

.taskTodayRow .formLabel {
  border-bottom: 2px solid #373d3f;
}

.taskTodayRow .material-icons {
  display: block;
}

.taskControls {
  position: absolute;
  right: -16px;
  top: -11px;
  display: grid;
  z-index: 2;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--subtleBlue);
  border-radius: var(--borderRadiusSmallElements);
  box-shadow: var(--boxShadow);
  padding: 10px 15px;
  grid-gap: 25px;
  border: 1px solid var(--mediumBlue);
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transform-origin: calc(100% - 30px) center;
  transition: all 0.1s ease-in-out;
}

.taskControls--4col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.taskControls--visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.taskControls a {
  color: var(--blue);
  display: block;
}


.noTasksToday {
  padding: 50px 0;
  display: inline-grid;
  margin: 0 auto;
  grid-gap: 25px;
  grid-column: 1 / -1;
}

.noTasksToday .btnsWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.noTasksToday .btnsWrap .inputBtn {
  margin: 0;
}

.moreTasksLinkWrap {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0 25px; /* so it can be used on left AND right side of screen */
}

.moreTasksLinkWrap--right .chip {
  grid-column: 3;
}

.moreTasksLinkWrap--left .chip {
  grid-column: 1;
}

.icon {
  width: 30px;
  vertical-align: middle;
}

.optionsWrap { /* if <hr here, remove margin-top of optionsWrap */
  display: grid;
  margin-top: 15px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.headline {
  padding: 25px 25px 0;
  text-align: center;
}

.logsignWrap {
  max-width: 400px;
  margin: 25px auto;
  padding: 0 25px;
}

.inputText {
  border: var(--subsectionBorder);
  background-color: var(--elevOneBackgroundColor);
  padding: 10px;
  border-radius: var(--borderRadiusSmallElements);
  width: 100%;
  margin-bottom: 15px;
}

.inputText--disabled {
  color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}

.inputTextBig {
  border: var(--subsectionBorder);
  background-color: var(--elevOneBackgroundColor);
  padding: 10px;
  border-radius: var(--borderRadiusSmallElements);
  width: 100%;
  margin-bottom: 15px;
  resize: vertical;
  min-height: 200px;
}

.inputText:focus, .inputTextBig:focus {
  border-color: #5294e2;
}

.inputBtn {
  background-color: var(--blue);
  padding: 10px;
  border-radius: var(--borderRadiusSmallElements);
  width: 100%;
  color: #fff;
  font-weight: 700;
  display: block;
  font-family: "Poppins", sans-serif;
}

.inputBtn:hover {
  cursor: pointer;
}

#deleteAccountInputBtn {
  background-color: var(--redBackground);
  display: block;
  margin-top: 15px;
  margin-left: 0; /* on small screens override default behavior */
}

.message {
  margin-bottom: 15px;
}

.homepageWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.homepageContent {
  padding: 50px 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px 25px;
  align-items: flex-start;
  background-color: var(--elevOneBackgroundColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  overflow: auto;
}

.homepageContent__hero {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
  background: var(--subtleBlue);
  margin: -50px -25px 0;
  padding: 50px 25px;
}

.homepageContent__hero .details {
  color: var(--subtleTextColor);
  font-size: 1.2em;
}

.homepageContent__hero .chip {
  margin-right: auto;
}

.homepageContent__feature {
  display: contents;
}

.homepageContent__feature__text {
  display: grid;
  row-gap: 15px;
}

.homepageContent__feature__text span {
  color: var(--subtleTextColor);
  font-size: 1.05em;
}

.homepageContent__feature__icon {
  border-radius: 5000px;
  padding: 15px;
  background: var(--blue);
  color: #fff;
  font-size: 1.7em !important; /* override material icons default */
}

.formLabel {
  font-size: .8em;
  font-weight: 700;
  padding-bottom: 5px;
  text-align: left;
  display: block;
}

.radioWrap {
  overflow: hidden;
  border-radius: var(--borderRadiusSmallElements);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  margin-bottom: 15px;
  gap: 1px;
  padding: 4px;
  vertical-align: center;
  border: var(--subsectionBorder);
  background: var(--subsectionBackground);
}

.radioLabel {
  display: block;
  background-color: transparent;
  padding: 6px;
  text-align: center;
  transition: all 0.2s ease;
  border-radius: var(--borderRadiusSmallElements);
}


.radioLabelWrap input {
  position: absolute;
  opacity: 0;
}

.radioLabelWrap input:checked + label {
  background-color: var(--blue);
  color: #fff;
  font-weight: 700;
}

.radioLabelWrap input:focus + label {
  outline: 2px solid var(--subsectionBackground);
  outline-offset: -4px;
}

.radioLabelWrap:hover > * {
  cursor: pointer;
}

.radioLabelLight {
  background-color: #fff;
}

.radioLabel:hover {
  cursor: pointer;
}

/* settings */

.settings {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  position: relative;
}

.settingsSidebar {
  padding: 0;
  border-bottom: 2px solid var(--borderColor);
  background: var(--elevOneBackgroundColor);
  overflow-x: auto;
  min-width: 0;
  white-space: nowrap;
}

.settingsNavButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.1em;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  border-radius: var(--borderRadiusSmallElements);
  font-family: "Poppins", sans-serif;
}

.settingsNavButton--active {
  background-color: var(--midSubtleBlue);
}

.settingsMain {
  padding: 25px;
  overflow: auto; /* fixes weird Chromium default to make Your Data view too wide */
  position: relative; /* fixes weird webkit default to make views overflow their container */
  text-align: left;
}

.settingsView {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 0;
}

.settingsView--visible {
  visibility: visible;
  opacity: 1;
  position: static;
  height: auto;
}

.settingsView--fadeInFromAfter {
  animation: right-fade-in 0.4s;
}

.settingsView--fadeInFromBefore {
  animation: left-fade-in 0.4s;
}

.settings .inputBtn {
  width: auto;
  margin-left: auto;
  padding: 10px 25px;
}

#shortcutsSettingsView {
  text-align: left;
}

#shortcutsSettingsView section:not(:last-of-type) {
  margin-bottom: 50px;
}

.shortcutList {
  margin: 15px 0 0 0;
  list-style-type: none;
  display: grid;
  row-gap: 15px;
}

.shortcut {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.shortcut__description {
  /* font-size: .8em;
  font-weight: 700; */
}

.shortcut__key {
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  text-align: center;
  background: var(--subsectionBackground);
  border: var(--subsectionBorder);
  border-bottom-width: 4px;
  border-radius: 8px;
  padding: 6px 14px;
  font-size: 0.8em;
}

.shortcut__key--wide {
  /* > 4 chars */
  width: 40px;
}

.shortcut__key--narrow {
  /* < 3 chars */
  width: 10px;
}

.sub {
  background-color: var(--subsectionBackground);
  border: var(--subsectionBorder);
  margin-bottom: 15px;
  border-radius: var(--borderRadiusSmallElements);
  padding: 15px 15px 6px;
}

.startDateToggle {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 5px;
  align-items: center;
  margin: 4px 0 15px;
}

/* login details */
.loginChangeForm {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-gap: 5px;
}

/* edit task */

.editorWrap {
  padding: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.editor {
  display: grid;
  grid-template-areas: "main"
  "extra"
  "tools";
  grid-template-columns: 1fr;
  gap: 25px;
}

#editor__main {
  grid-area: main;
  min-width: 0; /* prevent grid blowout */
  display: flex;
  flex-direction: column;
}

.tox-tinymce {
  flex-grow: 1; /* grow tinymce editor to fill empty space when content makes it shorter than sidebar */
}

#editor__extras {
  grid-area: extra;
}

#editor__actions {
  grid-area: tools;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 25px;
  align-items: center;
  align-self: flex-end;
}


#editor__actions .btn {
  padding: 10px 25px;
  width: auto;
}

main {
  padding: 25px;
}

.sub .data {
  text-align: left;
  display: block;
  margin-bottom: 9px; /* this plus .sub's 6px = 15px */
}

footer {
  text-align: center;
  padding: 25px;
}

@media (min-width: 400px) {
  #navBig {
    display: contents;
  }
  #navSmall {
    display: none;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 1em;
  }
  h1 {
    font-size: 2.1em;
  }
  .bigHeader__content__more > *:not(:last-child) {
    margin: 0 50px 0 0;
  }
  .bigHeader__content__more > span {
    display: inline;
  }
  .bigHeader__content__more > .chip {
    display: inline-grid;
    margin: 0;
  }
  .taskTodayRow {
    gap: 2px 25px;
    padding: 18px 25px;
  }
  .taskTodayRow--withDate {
    grid-template-columns: 1fr auto auto auto;
    grid-template-areas:
      "name badges date menu";
  }

  .taskTodayRow--withMessages {
    /* No change */
  }

  .taskTodayRow--withDate--withMessages {
    grid-template-areas:
      "name badges date menu"
      "messages badges date menu";
  }
  .todayViewTaskBadges .badge {
    font-size: 1.05em;
  }  

  .tsk {
    min-width: 250px;
    max-width: 400px;
  }

  .settings {
    grid-template-columns: 200px 1fr;
  }
  .settingsSidebar {
    display: grid;
    grid-template-columns: 1fr;
    padding: 25px 0 25px 15px;
    grid-auto-rows: min-content;
    border: 0;
    border-bottom: none;
  }
  .settingsNavButton {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 25px;
  }
  .settingsView--fadeInFromAfter {
    animation: bottom-fade-in 0.4s;
  }

  .settingsView--fadeInFromBefore {
    animation: top-fade-in 0.4s;
  }
  .editor {
    grid-template-columns: 1fr 240px;
    grid-template-areas: "main extra"
    "main tools";
  }
  .homepageContent {
    gap: 50px;
    padding: 50px;
  }
  .homepageContent__hero {
    margin: -50px -50px 0;
    padding: 50px;
  }
  .homepageContent__feature__icon {
    padding: 20px;
    font-size: 1.9em !important; /* override material icons default */
  }

  .bigHeader--todayView .bigHeader__content h1 span {
    display: block; /* split into 2 lines */
  }
}

@media (min-width: 700px) {
  .shortcut__key {
    width: 35px;
  }
  .shortcut__key--wide {
    /* > 4 chars */
    width: 45px;
  }

  .shortcut__key--narrow {
    /* < 3 chars */
    width: 15px;
  }
}

@media (min-width: 800px) {
  .editor {
    grid-template-columns: 1fr 300px;
  }

  #deleteAccountInputBtn {
    /* revert to more standard inputBtn appearance */
    margin-left: auto;
    margin-top: 0;
  }

  .radioWrap {
    gap: 6px;
  }
  .radioLabel {
    padding: 7px 8px;
  }

  .modalWrap {
    overflow-y: auto;
  }
  .modal {
    /* make it modal-like now */
    max-width: 800px; /* same width as main content */
    width: 100%;
    max-height: 100%;
    height: auto;
    min-height: 50vh;
    margin: auto;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    transform: scale(0);
    position: static;
  }

  .modalWrap.visible > .modal {
    animation: modalEntry 0.4s;
    transform: scale(1);
    opacity: 1;
  }

  .modalWrap.hide > .modal {
    /* helper to keyframe modal close */
    animation: modalExit 0.4s;
  }

  .modal__body .taskTodayRow:last-child {
    margin-bottom: 0; /* remove extra space for .globalBtn */
  }

  /* extra breathing room on large screens */
  .shortcut__key {
    width: 40px;
  }

  .shortcut__key--wide {
    /* > 4 chars */
    width: 55px;
  }

  .shortcut__key--narrow {
    /* < 3 chars */
    width: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --boxShadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    --mainBackgroundColor: #121212;
    --elevOneBackgroundColor: #1e1e1e;
    --textColor: #d2d2d2;
    --blue: var(--blue-dark);
    --midSubtleBlue: var(--midSubtleBlue-dark);
    --subsectionBackground: #2d2d2d;
    --subtleTextColor: rgba(255, 255, 255, 0.58);
    --subtleBlue: var(--subtleBlue-dark);
    --borderColor: #464646;
    --red: var(--red-dark);
    --redBackground: var(--redBackground-dark);
  }

  .taskTodayRow:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.06)
  }
  .taskControls a {
    color: var(--mediumBlue);
  }
  .chip {
    color: var(--mediumBlue);
  }
  .wrapper hr, .bigHR {
    background-color: #424242;
  }
  .todayViewSectionTitle {
    color: #fff; /* to match the first one - light theme is separate colors */
  }
}

@keyframes left-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
    overflow: hidden;
    /* hide the scrollbar during animation */

  }

  100% {
    opacity: 1;
    transform: translateX(0);
    overflow: hidden;
    /* hide the scrollbar during animation */
  }
}

@keyframes right-fade-in {
  0% {
    opacity: 0;
    transform: translateX(10px);
    overflow: hidden;
    /* hide the scrollbar during animation */

  }

  100% {
    opacity: 1;
    transform: translateX(0);
    overflow: hidden;
    /* hide the scrollbar during animation */
  }
}

@keyframes top-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden; /* hide the scrollbar during animation */

  }
  100% {
    opacity: 1;
    transform: translateY(0);
    overflow: hidden; /* hide the scrollbar during animation */
  }
}

@keyframes bottom-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
    overflow: hidden;
    /* hide the scrollbar during animation */

  }

  100% {
    opacity: 1;
    transform: translateY(0);
    overflow: hidden;
    /* hide the scrollbar during animation */
  }
}